.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    width: 15rem;
    background-color: #E8ECF1;
    border-radius: 1rem;
    padding: 1rem;
    border: 2px solid rgba(51, 51, 51, 0.5);;
}
.card-container img{
    width: 10rem;
}
.card-container img {
    display: block; 
    margin: 0 auto; 
  }
